@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.c-img {
  object-fit: contain;
}

.card {
  transition: ease-in-out 0.3s;
  font-family: "Poppins", sans-serif !important;
}

.card:hover {
  transform: scale(1.05);
}

.product-title-row {
    height: 4rem;
}

.product-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
  font-size: 1.1rem;
}

.card-footer {
    font-size: small;
}

.color-container {
    font-weight: 300;
    font-size: 0.9rem;
}

.condition-badge {
    background-color: blanchedalmond;
    color: black;
}